<div class="container loudparrot">
    <div class="row">
        <div class="col-md-3 loudparrot-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            
        </div>
        <div class="col-md-9 loudparrot-right">
            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="loudparrot-heading">User Login</h3>
                    <div class="row loudparrot-form">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="User Name/Email *" value="" />
                            </div>
                            
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            
                            <input type="submit" (click)="login()"  value="Login" class="pull-left btnRegister"/>
                        </div>
                        
                        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">New user? Click here to register</a>
                    </div>
                </div>                            
            </div>
        </div>
    </div>

</div>