<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3 *ngIf="isNew">New Department </h3>
        <h3 *ngIf="!isNew">Edit {{currentDepartment.name}} department</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form >
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Department Name" [(ngModel)]="currentDepartment.name" name="name" >
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <input matInput placeholder="Description" [(ngModel)]="currentDepartment.description" name="description"  >
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput style="display: none" >
            <mat-checkbox matInput class="example-margin" [(ngModel)]="currentDepartment.active" name="active">Active</mat-checkbox>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input type="number" matInput placeholder="Min. Employees in Department" [(ngModel)]="currentDepartment.minEmployees" name="minEmployees"  >
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input type="number" matInput placeholder="Max. Employees in Department" [(ngModel)]="currentDepartment.maxEmployees" name="maxEmployees"  >
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput style="display: none" >
            <mat-checkbox matInput class="example-margin" [(ngModel)]="currentDepartment.allowOvertime" name="active">Allow Overtime</mat-checkbox>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput style="display: none" >
            <mat-checkbox matInput class="example-margin" [(ngModel)]="currentDepartment.allowPenalty" name="active">Allow Penalties</mat-checkbox>
        </mat-form-field>


        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/department/list">Back</button>&nbsp;
        <button type="submit" (click)="saveDepartment()"  mat-raised-button color="primary">Save</button>
      </form>
    </mat-card>
  </div>