<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>New Department </h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form >
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Department Name" [(ngModel)]="currentDepartment.name" name="name" >
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <input matInput placeholder="Description" [(ngModel)]="currentDepartment.description" name="description"  >
        </mat-form-field>

      <mat-form-field>
            <mat-select placeholder="Active" [(ngModel)]="currentDepartment.active" name="active">
              <mat-option value="1">Active</mat-option>
              <mat-option value="0">Inactive</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
        <button type="submit" (click)="addDepartment()"  mat-raised-button color="primary">Save</button>
      </form>
    </mat-card>
  </div>