<div class="container loudparrot">
                <div class="row">
                    <div class="col-md-3 loudparrot-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        
                    </div>
                    <div class="col-md-9 loudparrot-right">
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="loudparrot-heading">New User Registration</h3>
                                <div class="row loudparrot-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" [(ngModel)]="currentUser.firstName" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" [(ngModel)]="currentUser.lastName" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" [(ngModel)]="currentUser.password" placeholder="Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" [(ngModel)]="currentUser.email" placeholder="Your Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" [(ngModel)]="currentUser.phone" name="txtEmpPhone" class="form-control" placeholder="Your Phone" value="" />
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control"[(ngModel)]="currentUser.securityQuestion" >
                                                <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                                <option>What is your Birthdate?</option>
                                                <option>What is Your old Phone Number</option>
                                                <option>What is your Pet Name?</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" [(ngModel)]="currentUser.securityQuestionAnswer" placeholder="Enter Your Answer *" value="" />
                                        </div>
                                        <button type="submit" (click)="saveUser()"   mat-raised-button color="primary">Register</button>
                                    </div>
                                    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Already have an account? Click here to login</a>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>

            </div>