<div>
    <br>
    <mat-card>
      <button mat-raised-button color="primary" routerLink="/department/add">Add Department</button>
      <br><br>
      <mat-divider></mat-divider>
      <br>
      
        <table mat-table [dataSource]="departments" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell fxFlex *matHeaderCellDef>Name</th>
                <td mat-cell fxFlex *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
            </ng-container>

            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef>Active</th>
                <td mat-cell *matCellDef="let element">{{element.active}}</td>
            </ng-container>
           
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="mat-column-right"></th>
                <td mat-cell *matCellDef="let element" class="mat-column-right">
                  <button mat-button color="primary" (click)="editDepartment(element._id)">Edit</button>
                  <button mat-button color="warn" (click)="deleteDepartment(element._id)">Delete</button>
                </td>
              </ng-container>
           
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-card>
  </div>