<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>New Employee</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form >
        <mat-form-field class="field-full-width">
          <input matInput placeholder="First Name" [(ngModel)]="currentEmployee.firstName" name="firstName" >
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <input matInput placeholder="Middle Name" [(ngModel)]="currentEmployee.middleName" name="middleName"  >
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Last Name" [(ngModel)]="currentEmployee.lastName" name="lastName"  >
          </mat-form-field>
        
        <mat-form-field>
            <mat-select placeholder="Gender" [(ngModel)]="currentEmployee.gender" name="gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/employee/list">Back</button>&nbsp;
        <button type="submit" (click)="addEmployee()"  mat-raised-button color="primary">Save</button>
      </form>
    </mat-card>
  </div>